*.olean
.bin/
.pytest_cache/
.__pycache__/
.lake/

blueprint/print
blueprint/web
blueprint/lean_decls
blueprint/src/*.pdf
blueprint/src/*.aux
blueprint/src/*.paux
blueprint/src/*.gz
blueprint/src/*.bbl 
blueprint/src/*.blg 
blueprint/src/*.out
blueprint/src/*.log
blueprint/src/*.fls
blueprint/src/*.fdb_latexmk
blueprint/src/*.run.xml

home_page/_site/
home_page/*.pdf

isar_proofs.egg-info/